* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 2.115vh 20vw;
    background-color: deepskyblue;  
    align-items: center;  
    justify-content: space-between;
}

main {
    margin: 0 20vw;
}

.tituloBarraNavegador h1 {
    font-size: 3rem;
    font-weight: bolder;
}

.tituloBarraNavegador a {
    text-decoration: none;
    color: white;
}

.listaBarraNavegador ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-weight: bold;
    font-size: x-large;
    gap: 4vw;
}

.listaBarraNavegador a {
    color: white;
    text-decoration: none;
}

.bloqueDatosClima {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2vh 0;
    border: 5px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    justify-content: space-between;
}

.bloqueDatosClima h2 {
    font-size: xx-large;
}

.datoTemperatura {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.datoTemperatura span {
    font-weight: bold;
    font-size: 1.125rem;
}

.opcionClima {
    padding: .75vh .75vw;
    font-weight: bold;
}

.bloqueDetalleClima {
    display: flex;
    flex-direction: row;
    padding: 4vh 0;
    justify-content: space-between;
}

.cartaDiaClima {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(226, 226, 226);
    width: 14vw;
    height: 45vh;
    padding: 2.75vh 0 5vh 0;
}

.tituloDia {
    font-size: 1.8rem;
    font-weight: bold;
}

.cartaDiaClima img {
    width: 10vw;
    border-radius: 50%;
}

.datoClima {
    font-size: larger;
    font-weight: bold;
}

.temperatura {
    display: flex;
    gap: 3vw;
    padding-top: 1vh;
}

.temperatura1 {
    font-size: xx-large;
    font-weight: bolder;
    color: red;
}

.temperatura2 {
    font-size: xx-large;
    font-weight: bolder;
    color: blue;
}

.cuadroCookie {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(226, 226, 226);
    padding: 2vh 2vw;
    border: 3px solid black;
    gap: 2vw;
    line-height: 3vh;
    position: fixed;
    width: 60vw;
    box-sizing: border-box;
}

.botonCookie {
    padding: 1vh 1vw;
    background-color: deepskyblue;
    font-size: 1.125rem;
    font-weight: bolder;
    box-shadow: 4px 4px black;
    cursor: pointer;
}

.botonCookie:hover {
    background-color: blue;
    color: white;
}

.botonCookie:active {
    background-color: deepskyblue;
    color: black;
}

.cuadroCookie h3 {
    padding-bottom: .75vh;
    font-size: 1.35rem;
}

.cuadroCookie p {
    font-weight: bold;
}